﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MobileMenu.ascx.cs" Inherits="App_UserControls_MegaMenu_MobileMenu" %>

<label for="ddlMenu">Mobile Menu</label>
<asp:DropDownList runat="server" ID="ddlMenu" ClientIDMode="Static" AutoPostBack="True" OnSelectedIndexChanged="ddlMenu_OnSelectedIndexChanged"/>