﻿
.js-tree-wrapper {
    margin-right: 10px;
    min-width: 16%;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    padding: 5px;
    width: auto;
    min-width: 250px;
    display: inline-block;
    margin-bottom: 40px;
    vertical-align: top;
}