/*!
 * Bootstrap v3.1.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
.cms-bootstrap html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.cms-bootstrap body,
body.cms-bootstrap {
  margin: 0;
}
body.cms-bootstrap,
.cms-bootstrap {
  font-family: "Segoe UI", Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
}
.cms-bootstrap iframe {
  display: block;
}
.cms-bootstrap article,
.cms-bootstrap aside,
.cms-bootstrap details,
.cms-bootstrap figcaption,
.cms-bootstrap figure,
.cms-bootstrap footer,
.cms-bootstrap header,
.cms-bootstrap hgroup,
.cms-bootstrap main,
.cms-bootstrap nav,
.cms-bootstrap section,
.cms-bootstrap summary {
  display: block;
}
.cms-bootstrap audio,
.cms-bootstrap canvas,
.cms-bootstrap progress,
.cms-bootstrap video {
  display: inline-block;
  vertical-align: baseline;
}
.cms-bootstrap audio:not([controls]) {
  display: none;
  height: 0;
}
.cms-bootstrap [hidden],
.cms-bootstrap template {
  display: none;
}
.cms-bootstrap a {
  background: transparent;
}
.cms-bootstrap a:active,
.cms-bootstrap a:hover {
  outline: 0;
}
.cms-bootstrap abbr[title] {
  border-bottom: 1px dotted;
}
.cms-bootstrap b,
.cms-bootstrap strong {
  font-weight: bold;
}
.cms-bootstrap dfn {
  font-style: italic;
}
.cms-bootstrap h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.cms-bootstrap mark {
  background: #ff0;
  color: #262524;
}
.cms-bootstrap small {
  font-size: 80%;
}
.cms-bootstrap sub,
.cms-bootstrap sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.cms-bootstrap sup {
  top: -0.5em;
}
.cms-bootstrap sub {
  bottom: -0.25em;
}
.cms-bootstrap img {
  border: 0;
}
.cms-bootstrap svg:not(:root) {
  overflow: hidden;
}
.cms-bootstrap figure {
  margin: 1em 40px;
}
.cms-bootstrap hr {
  box-sizing: content-box;
  height: 0;
}
.cms-bootstrap pre {
  overflow: auto;
}
.cms-bootstrap code,
.cms-bootstrap kbd,
.cms-bootstrap pre,
.cms-bootstrap samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.cms-bootstrap button,
.cms-bootstrap input,
.cms-bootstrap optgroup,
.cms-bootstrap select,
.cms-bootstrap textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
.cms-bootstrap button {
  overflow: visible;
}
.cms-bootstrap button,
.cms-bootstrap select {
  text-transform: none;
}
.cms-bootstrap button,
.cms-bootstrap html input[type="button"],
.cms-bootstrap input[type="reset"],
.cms-bootstrap input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.cms-bootstrap button[disabled],
.cms-bootstrap html input[disabled] {
  cursor: default;
}
.cms-bootstrap button::-moz-focus-inner,
.cms-bootstrap input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.cms-bootstrap input {
  line-height: normal;
}
.cms-bootstrap input[type="checkbox"],
.cms-bootstrap input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.cms-bootstrap input[type="number"]::-webkit-inner-spin-button,
.cms-bootstrap input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.cms-bootstrap input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
.cms-bootstrap input[type="search"]::-webkit-search-cancel-button,
.cms-bootstrap input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.cms-bootstrap fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.cms-bootstrap legend {
  display: none;
  border: 0;
  padding: 0;
}
.cms-bootstrap textarea {
  overflow: auto;
}
.cms-bootstrap optgroup {
  font-weight: bold;
}
.cms-bootstrap table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cms-bootstrap td,
.cms-bootstrap th {
  padding: 0;
}
.cms-bootstrap.ContextMenu {
  border: none !important;
}
.cms-bootstrap.ContextMenu,
.cms-bootstrap .TreeContextMenu,
.cms-bootstrap .PortalContextMenu {
  border-radius: 0px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  background: #403e3d;
}
.cms-bootstrap.ContextMenu .item-last,
.cms-bootstrap .TreeContextMenu .item-last,
.cms-bootstrap .PortalContextMenu .item-last,
.cms-bootstrap.ContextMenu .Item,
.cms-bootstrap .TreeContextMenu .Item,
.cms-bootstrap .PortalContextMenu .Item {
  border: none !important;
  display: block;
  height: auto !important;
  text-decoration: none !important;
  text-align: left !important;
}
.RTL .cms-bootstrap.ContextMenu .item-last,
.RTL .cms-bootstrap .TreeContextMenu .item-last,
.RTL .cms-bootstrap .PortalContextMenu .item-last,
.RTL .cms-bootstrap.ContextMenu .Item,
.RTL .cms-bootstrap .TreeContextMenu .Item,
.RTL .cms-bootstrap .PortalContextMenu .Item {
  text-align: right !important;
}
.cms-bootstrap.ContextMenu .item-last .Name,
.cms-bootstrap .TreeContextMenu .item-last .Name,
.cms-bootstrap .PortalContextMenu .item-last .Name,
.cms-bootstrap.ContextMenu .Item .Name,
.cms-bootstrap .TreeContextMenu .Item .Name,
.cms-bootstrap .PortalContextMenu .Item .Name,
.cms-bootstrap.ContextMenu .item-last .NameInactive,
.cms-bootstrap .TreeContextMenu .item-last .NameInactive,
.cms-bootstrap .PortalContextMenu .item-last .NameInactive,
.cms-bootstrap.ContextMenu .Item .NameInactive,
.cms-bootstrap .TreeContextMenu .Item .NameInactive,
.cms-bootstrap .PortalContextMenu .Item .NameInactive {
  border: inherit !important;
  text-decoration: inherit !important;
  font-size: 14px;
  font-family: "Segoe UI", Helvetica, Verdana, Arial, sans-serif;
  line-height: 16px !important;
  color: #ffffff !important;
}
.cms-bootstrap.ContextMenu .ItemDisabled,
.cms-bootstrap .TreeContextMenu .ItemDisabled,
.cms-bootstrap .PortalContextMenu .ItemDisabled {
  cursor: not-allowed;
}
.cms-bootstrap.ContextMenu .ItemDisabled .Name,
.cms-bootstrap .TreeContextMenu .ItemDisabled .Name,
.cms-bootstrap .PortalContextMenu .ItemDisabled .Name,
.cms-bootstrap.ContextMenu .ItemDisabled .NameInactive,
.cms-bootstrap .TreeContextMenu .ItemDisabled .NameInactive,
.cms-bootstrap .PortalContextMenu .ItemDisabled .NameInactive {
  cursor: not-allowed;
}
.cms-bootstrap.ContextMenu .ItemPadding,
.cms-bootstrap .TreeContextMenu .ItemPadding,
.cms-bootstrap .PortalContextMenu .ItemPadding {
  padding: 8px 16px;
  border: none !important;
  cursor: pointer;
  line-height: 16px;
}
.cms-bootstrap.ContextMenu .ItemPadding .ImgLoader,
.cms-bootstrap .TreeContextMenu .ItemPadding .ImgLoader,
.cms-bootstrap .PortalContextMenu .ItemPadding .ImgLoader {
  display: inline-block;
  padding: 0px 8px;
  height: 15px;
}
.cms-bootstrap.ContextMenu .ItemPadding img,
.cms-bootstrap .TreeContextMenu .ItemPadding img,
.cms-bootstrap .PortalContextMenu .ItemPadding img {
  display: inline-block;
}
.cms-bootstrap.ContextMenu .item-last:hover,
.cms-bootstrap .TreeContextMenu .item-last:hover,
.cms-bootstrap .PortalContextMenu .item-last:hover,
.cms-bootstrap.ContextMenu .Item:hover,
.cms-bootstrap .TreeContextMenu .Item:hover,
.cms-bootstrap .PortalContextMenu .Item:hover,
.cms-bootstrap.ContextMenu .ItemSelected,
.cms-bootstrap .TreeContextMenu .ItemSelected,
.cms-bootstrap .PortalContextMenu .ItemSelected {
  cursor: pointer;
  background: #504e4c;
}
.cms-bootstrap.ContextMenu .Separator,
.cms-bootstrap .TreeContextMenu .Separator,
.cms-bootstrap .PortalContextMenu .Separator {
  height: 1px;
  margin: 0;
  overflow: hidden;
  background-color: #504e4c;
}
.cms-bootstrap .PortalContextMenu {
  min-width: 128px;
}
.cms-bootstrap .TreeContextMenu {
  min-width: 128px;
}
.cms-bootstrap .TreeContextMenu > .TreeContextMenu {
  box-shadow: none;
}
.cms-bootstrap .TreeNewContextMenu {
  min-width: 192px;
}
.cms-bootstrap .WebPartContextMenu,
.cms-bootstrap .ZoneContextMenu,
.cms-bootstrap .PlaceholderContextMenu {
  min-width: 160px;
}
.cms-bootstrap .PortalContextMenu .ItemDisabled {
  cursor: not-allowed !important;
  background-image: url(../../CMSPages/GetResource.ashx?image=General/disabled_context.png) !important;
  background-repeat: repeat !important;
}
.cms-bootstrap .PortalContextMenu .ItemDisabled:hover {
  background-color: inherit !important;
  background-image: url(../../CMSPages/GetResource.ashx?image=General/disabled_context.png) !important;
  background-repeat: repeat !important;
}
.cms-bootstrap .PortalContextMenu.CPMenu {
  display: none;
}
.cms-bootstrap.ContextMenuLevel_1 {
  background: #504e4c;
}
.cms-bootstrap.ContextMenuLevel_1 .Item:hover,
.cms-bootstrap.ContextMenuLevel_1 .ItemSelected {
  background: #696663;
}
.cms-bootstrap.ContextMenuLevel_1 .Separator {
  height: 1px;
  margin: 0;
  overflow: hidden;
  background-color: #696663;
}
.cms-bootstrap.ContextMenuLevel_2 {
  background: #696663;
}
.cms-bootstrap.ContextMenuLevel_2 .Item:hover,
.cms-bootstrap.ContextMenuLevel_2 .ItemSelected {
  background: #a3a2a2;
}
.cms-bootstrap.ContextMenuLevel_2 .Separator {
  height: 1px;
  margin: 0;
  overflow: hidden;
  background-color: #a3a2a2;
}
.cms-bootstrap .VariantSlider {
  float: left;
  cursor: default;
}
.RTL .cms-bootstrap .VariantSlider {
  float: right;
}
.cms-bootstrap .SliderItem {
  float: left;
}
.cms-bootstrap .SliderItem i {
  cursor: pointer;
  padding: 8px 4px !important;
  color: #403e3d;
}
.cms-bootstrap .SliderItem i:not(.icon-disabled):hover {
  color: #0f6194;
}
.cms-bootstrap .SliderItem .SliderBtnEnabled {
  display: none;
}
.cms-bootstrap .SliderItem .SliderBtnDisabled {
  cursor: default;
  color: #403e3d !important;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.RTL .cms-bootstrap .SliderItem {
  float: right;
}
.cms-bootstrap .SliderPartLabel {
  color: #000000;
  line-height: 32px;
  padding: 0px 4px;
}
.cms-bootstrap .SliderBarPanel {
  padding: 8px 0px;
}
.cms-bootstrap .SliderBarPanel img {
  vertical-align: inherit;
}
.cms-bootstrap .SliderConflict {
  float: left;
  font-weight: bold;
  cursor: help;
}
.cms-bootstrap .mvt-combination-panel {
  padding: 8px 16px;
  background-color: #e5e5e5;
}
.cms-bootstrap .mvt-combination-panel .combination-selector {
  max-width: 320px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
  margin-right: 0px;
}
.cms-bootstrap .mvt-combination-panel .combination-selector select {
  width: 192px;
}
.cms-bootstrap .mvt-combination-panel .chk-enabled {
  padding-right: 32px;
}
.cms-bootstrap .mvt-combination-panel .btn-use-combination {
  margin: 0 12px !important;
}
.cms-bootstrap .mvt-combination-panel .control-label {
  width: auto;
}
.cms-bootstrap .mvt-combination-panel-warning.alert {
  display: block;
  line-height: 16px;
  margin: 0;
  padding: 8px 16px;
}
.cms-bootstrap .mvt-combination-panel-warning.alert i {
  font-size: 16px;
}
.cms-bootstrap .PagePlaceholderHeader {
  background: #feb54f;
  text-align: left !important;
  color: #262524;
  white-space: nowrap;
  min-height: 32px;
  cursor: default;
  background: #83b558;
  margin: 1px;
  overflow: hidden;
}
.cms-bootstrap .PagePlaceholderHeader * {
  text-align: left !important;
}
.RTL .cms-bootstrap .PagePlaceholderHeader * {
  text-align: right !important;
}
.cms-bootstrap .PagePlaceholderHeader table {
  border: none !important;
  margin: 0px !important;
}
.cms-bootstrap .PagePlaceholderHeader td {
  vertical-align: middle;
  line-height: 32px;
}
.cms-bootstrap .PagePlaceholderHeader td:first-of-type {
  padding-left: 8px !important;
}
.RTL .cms-bootstrap .PagePlaceholderHeader td:first-of-type {
  padding-left: 0 !important;
  padding-right: 8px !important;
}
.RTL .cms-bootstrap .PagePlaceholderHeader {
  text-align: right !important;
}
.cms-bootstrap .PagePlaceholderHeader .PagePlaceholderTitle {
  padding: 0px 16px 0px 4px;
  font-size: 14px !important;
}
.cms-bootstrap .PagePlaceholderHeader .PagePlaceholderTitle strong {
  color: #262524;
}
.RTL .cms-bootstrap .PagePlaceholderHeader .PagePlaceholderTitle {
  padding: 0px 4px 0px 16px;
}
.cms-bootstrap .PagePlaceholderLeftAction {
  width: 16px;
  color: #403e3d;
}
.cms-bootstrap .PagePlaceholderLeftAction i {
  padding: 8px 8px;
  padding-left: 0px;
  cursor: pointer;
}
.cms-bootstrap .PagePlaceholderLeftAction i:hover {
  color: #0f6194;
}
.RTL .cms-bootstrap .PagePlaceholderLeftAction i {
  padding: 8px 8px;
  padding-right: 0px;
}
.cms-bootstrap .PagePlaceholderActiveContextMenu .PagePlaceholderLeftAction {
  background: #ceefaf;
  color: #0f6194;
}
.cms-bootstrap .PagePlaceholderDevice {
  width: 16px;
  padding-left: 2px;
  padding-right: 2px;
}
.cms-bootstrap .PagePlaceholderDevice img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.StandardWebPart .cms-bootstrap .LayoutWebPartHeader {
  position: relative;
  background: #bdbbbb;
}
.StandardWebPart .cms-bootstrap .LayoutWebPartHeader .WebPartZoneHeader {
  clear: both;
  border-left: none;
  border-right: none;
}
.StandardWebPart .cms-bootstrap .LayoutWebPartHeader table {
  width: 100%;
  margin: 0;
}
.StandardWebPart .cms-bootstrap .LayoutWebPartHeader table td {
  line-height: 32px;
  vertical-align: middle;
}
.cms-bootstrap.LayoutFooter {
  padding: 0;
  background: #bdbbbb;
}
.cms-bootstrap.LayoutFooter .LayoutFooterContent {
  color: #000000;
  text-align: left !important;
  white-space: nowrap;
}
.RTL .cms-bootstrap.LayoutFooter .LayoutFooterContent {
  text-align: right !important;
}
.cms-bootstrap.LayoutFooter .LayoutFooterContent .LayoutLeftActions {
  float: left;
}
.RTL .cms-bootstrap.LayoutFooter .LayoutFooterContent .LayoutLeftActions {
  float: right;
}
.cms-bootstrap.LayoutFooter .LayoutFooterContent .LayoutRightActions {
  float: right;
}
.RTL .cms-bootstrap.LayoutFooter .LayoutFooterContent .LayoutRightActions {
  float: left;
}
.cms-bootstrap.LayoutFooter .LayoutFooterContent .LayoutAction {
  padding: 0px 8px;
  text-decoration: none !important;
  line-height: 32px;
  color: #403e3d !important;
}
.cms-bootstrap.LayoutFooter .LayoutFooterContent .LayoutAction:hover {
  color: #0f6194 !important;
}
.UserWidget .cms-bootstrap.LayoutFooter {
  display: none;
}
.StandardWebPart .WebPartBorder,
.StandardWebPart .WebPartBorderActive {
  box-sizing: content-box;
  min-height: 32px !important;
}
.StandardWebPart .WebPartBorder {
  padding: 2px !important;
}
.StandardWebPart .WebPartBorderActive {
  padding: 0;
  border: dashed 2px #feb54f;
}
.StandardWebPart .WebPartBorderActive .WebPartHeader {
  z-index: 10010;
  opacity: 1;
  filter: alpha(opacity=100);
}
.StandardWebPart .WebPartHeaderEnvelope {
  height: 0;
  overflow: visible;
}
.StandardWebPart .WebPartHeader,
.StandardWebPart .LayoutWebPartHeader {
  background: #feb54f;
  text-align: left !important;
  color: #262524;
  cursor: default;
  overflow: hidden;
  z-index: 9900;
  white-space: nowrap;
  min-height: 32px;
  min-width: 160px;
}
.StandardWebPart .WebPartHeader *,
.StandardWebPart .LayoutWebPartHeader * {
  text-align: left !important;
}
.RTL .StandardWebPart .WebPartHeader *,
.RTL .StandardWebPart .LayoutWebPartHeader * {
  text-align: right !important;
}
.StandardWebPart .WebPartHeader table,
.StandardWebPart .LayoutWebPartHeader table {
  border: none !important;
  margin: 0px !important;
}
.StandardWebPart .WebPartHeader td,
.StandardWebPart .LayoutWebPartHeader td {
  vertical-align: middle;
  line-height: 32px;
}
.StandardWebPart .WebPartHeader td:first-of-type,
.StandardWebPart .LayoutWebPartHeader td:first-of-type {
  padding-left: 8px !important;
}
.RTL .StandardWebPart .WebPartHeader td:first-of-type,
.RTL .StandardWebPart .LayoutWebPartHeader td:first-of-type {
  padding-left: 0 !important;
  padding-right: 8px !important;
}
.RTL .StandardWebPart .WebPartHeader,
.RTL .StandardWebPart .LayoutWebPartHeader {
  text-align: right !important;
}
.StandardWebPart .WebPartHeader {
  background: #c0dee2;
  display: inline-block;
  position: relative;
}
.StandardWebPart .WebPartHeader .WidgetType {
  padding-left: 4px;
}
.RTL .StandardWebPart .WebPartHeader .WidgetType {
  padding-left: 0;
  padding-right: 4px;
}
.StandardWebPart .WebPartSource {
  background: #B7B7DE;
}
.StandardWebPart .WebPartPlaceholder {
  background: #BDE19A;
}
.StandardWebPart .WebPartInvisible {
  background: #CCADA8;
}
.StandardWebPart .WebPartLeftAction {
  width: 16px;
  color: #403e3d;
}
.StandardWebPart .WebPartLeftAction i {
  padding: 8px 8px;
  padding-left: 0px;
  cursor: pointer;
}
.StandardWebPart .WebPartLeftAction i:hover {
  color: #0f6194;
}
.RTL .StandardWebPart .WebPartLeftAction i {
  padding: 8px 8px;
  padding-right: 0px;
}
.StandardWebPart .WebPartActiveContextMenu .WebPartLeftAction {
  background-color: #eaf1fa;
  color: #0f6194;
}
.StandardWebPart .WebPartPlaceholder .WebPartActiveContextMenu .WebPartLeftAction {
  background-color: #95BB76;
}
.StandardWebPart .WebPartTypeIcon {
  color: #403e3d;
  font-size: 16px;
  padding: 8px 4px;
}
.WebPart .WebPartHandle {
  cursor: move;
  text-align: left !important;
}
.RTL .WebPart .WebPartHandle {
  text-align: right !important;
}
.WebPart .WebPartTitle {
  font-size: 14px !important;
  padding: 0px 16px 0px 4px;
  margin: 0;
}
.RTL .WebPart .WebPartTitle {
  padding: 0px 4px 0px 16px;
}
.WebPartPlaceholder .WebPartActiveContextMenu .WebPartLeftAction {
  background-color: #95BB76;
}
.WebPartSource .WebPartActiveContextMenu .WebPartLeftAction {
  background: #dedeee;
}
.WebPartFilter .WebPartActiveContextMenu .WebPartLeftAction {
  background: #e3ecf0;
}
.WebPartInvisible .WebPartActiveContextMenu .WebPartLeftAction {
  background: #dbdbdb;
}
.StandardZone .WebPartZoneHeader {
  background: #feb54f;
  text-align: left !important;
  color: #262524;
  white-space: nowrap;
  min-height: 32px;
  cursor: default;
  overflow: hidden;
}
.StandardZone .WebPartZoneHeader * {
  text-align: left !important;
}
.RTL .StandardZone .WebPartZoneHeader * {
  text-align: right !important;
}
.StandardZone .WebPartZoneHeader table {
  border: none !important;
  margin: 0px !important;
}
.StandardZone .WebPartZoneHeader td {
  vertical-align: middle;
  line-height: 32px;
}
.StandardZone .WebPartZoneHeader td:first-of-type {
  padding-left: 8px !important;
}
.RTL .StandardZone .WebPartZoneHeader td:first-of-type {
  padding-left: 0 !important;
  padding-right: 8px !important;
}
.RTL .StandardZone .WebPartZoneHeader {
  text-align: right !important;
}
.StandardZone .WebPartZoneHeaderOrphaned {
  background: #feb54f;
  text-align: left !important;
  color: #262524;
  white-space: nowrap;
  min-height: 32px;
  cursor: default;
  overflow: hidden;
  background-color: #dddddd;
}
.StandardZone .WebPartZoneHeaderOrphaned * {
  text-align: left !important;
}
.RTL .StandardZone .WebPartZoneHeaderOrphaned * {
  text-align: right !important;
}
.StandardZone .WebPartZoneHeaderOrphaned table {
  border: none !important;
  margin: 0px !important;
}
.StandardZone .WebPartZoneHeaderOrphaned td {
  vertical-align: middle;
  line-height: 32px;
}
.StandardZone .WebPartZoneHeaderOrphaned td:first-of-type {
  padding-left: 8px !important;
}
.RTL .StandardZone .WebPartZoneHeaderOrphaned td:first-of-type {
  padding-left: 0 !important;
  padding-right: 8px !important;
}
.RTL .StandardZone .WebPartZoneHeaderOrphaned {
  text-align: right !important;
}
.StandardZone .WebPartZoneHandle {
  line-height: 32px;
}
.StandardZone .WebPartZoneHandle .WebPartZoneTitle {
  font-size: 14px !important;
  padding: 0px 16px 0px 4px;
}
.RTL .StandardZone .WebPartZoneHandle .WebPartZoneTitle {
  padding: 0px 4px 0px 16px;
}
.StandardZone .WebPartZoneBorder {
  margin: 1px;
}
.StandardZone .WebPartZoneBorderActive {
  margin: 1px;
}
.StandardZone .WebPartZoneLeftAction {
  width: 16px;
  color: #403e3d;
}
.StandardZone .WebPartZoneLeftAction i {
  padding: 8px 8px;
  padding-left: 0px;
  cursor: pointer;
}
.StandardZone .WebPartZoneLeftAction i:hover {
  color: #0f6194;
}
.RTL .StandardZone .WebPartZoneLeftAction i {
  padding: 8px 8px;
  padding-right: 0px;
}
.StandardZone .WebPartZoneActiveContextMenu .WebPartZoneLeftAction {
  background: #ffdca4;
  color: #0f6194;
}
.StandardZone .WebPartZoneContent {
  border: solid 1px #d6d9d6;
  border-top-width: 0px;
  min-height: 34px;
}
.StandardZone .WebPartZoneType {
  padding-left: 4px;
}
.RTL .StandardZone .WebPartZoneType {
  padding-left: 0;
  padding-right: 4px;
}
.WebPartZoneHeaderOrphaned .WebPartZoneActiveContextMenu .WebPartZoneLeftAction {
  background: #ececec;
}
.WebPartZoneSimpleHeader {
  height: 0;
  overflow: visible;
  margin: 0px 1px;
  cursor: default;
  color: #403e3d;
}
.WebPartZoneSimpleHeader .SimpleZoneAction {
  display: inline-block;
  background-color: #e5e5e5;
}
.WebPartZoneSimpleHeader .SimpleZoneAction i {
  cursor: pointer;
  font-size: 16px;
  padding: 8px 8px;
}
.WebPartZoneSimpleHeader .SimpleZoneAction i:hover {
  color: #0f6194;
}
.WebPartZoneActiveContextMenu .SimpleZoneAction {
  color: #0f6194;
}
.WebPartZoneCue {
  background-color: #e5e5e5;
}
.WebPartZoneCue.CueFree {
  position: absolute;
}
.WebPartZoneCue.CueLFloat {
  float: left;
}
.WebPartZoneCue.CueRFloat {
  float: right;
}
.LayoutTable {
  border: solid 1px #bdbbbb;
  border-top: none;
}
.LayoutHeader {
  padding: 0;
  margin: 0;
}
.LayoutHeader .WebPartHeaderEnvelope {
  height: auto !important;
}
.LayoutOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  filter: alpha(opacity=1);
  opacity: 0.01;
  background-color: #fff;
}
.LayoutInfoOverlay {
  border: solid 1px #ffffff;
  position: absolute;
  z-index: 9998;
  background-color: #008800;
  filter: alpha(opacity=30);
  opacity: 0.3;
  text-align: center;
}
.LayoutInfoText {
  background-color: #aaddaa;
  border: solid 1px #008800;
  padding: 2px;
  position: absolute;
  z-index: 9999;
  text-align: center;
  color: #262524;
  margin: auto;
}
.VerticalResizer,
.HorizontalResizer,
.BothResizer,
.HorizontalDivResizer {
  background-color: #008800;
  font-size: 1px;
  line-height: 1px;
  padding: 0;
  margin: 0;
}
.HorizontalResizer {
  cursor: e-resize;
  width: 2px;
  margin-left: 1px;
  margin-right: 1px;
  max-width: 2px;
  min-height: 25px;
}
.VerticalResizer {
  border-bottom: solid 1px white;
  cursor: n-resize;
  height: 2px;
  max-height: 2px;
}
.BothResizer {
  cursor: nw-resize;
  border: solid 1px #008800;
  background-color: #008800;
}
.LayoutCenterColumn,
.LayoutLeftColumn,
.LayoutRightColumn {
  border: none;
}
.CodeDirectives {
  border-left: solid 1px #CCC;
  border-top: solid 1px #CCC;
  border-right: solid 1px #CCC;
  padding: 3px;
  background-color: #F5F5F0;
  font-family: "Courier New", monospace;
  font-size: 12px;
  color: #666;
}
.LayoutControlHeaderInfo {
  margin-bottom: 5px;
}
.WebPart .VideoLikeContent {
  padding-top: 26px;
}
.FrameContent {
  padding: 0 6px 0 6px;
}
.PageContentViewer {
  padding: 0 6px 15px 6px;
}
.HeaderTitleBreadcrumbs {
  border-bottom: solid 1px #CCCCCC;
  padding-bottom: 8px;
}
.CPMenuBorder,
.CPMenuBorderActive {
  position: absolute;
  z-index: 9998;
  cursor: pointer;
}
.CPMenuBorder {
  display: none;
}
.WebPartBorderActive .CPContainer,
.WebPartZoneBorderActive .CPContainer {
  padding: 0;
  border: dotted 1px #8a8a8a;
}
.WebPartBorderActive .CPMenuBorder,
.WebPartZoneBorderActive .CPMenuBorder {
  display: block;
}
.WebPartBorder .CPContainer,
.WebPartZoneBorder .CPContainer {
  border: none;
  padding: 1px;
}
.CPMenuWebPart,
.CPMenuZone {
  background-color: #c0dee2;
  width: 16px;
  height: 16px;
  padding: 4px;
}
.CPMenuZone {
  background-color: #feb54f;
}
.CPMenuButton {
  float: left;
  margin: 3px;
}
.DesignMode .WebPartContent .WebpartDesignPadding {
  width: 1px;
  height: 30px;
}
.WebPartDesign {
  background-color: #c5cbd0;
}
.WebPartDesign .lblPlc {
  background-color: #c5cbd0;
}
.WebPartDesign .WebPartContent {
  background-color: #ffffff;
}
.WebPartDesign .PageHeaderLine {
  border-bottom: solid 1px #aaa;
}
.WebPartDefaultContentEnvelope {
  background-color: #c5cbd0;
  padding: 8px;
}
.design-ui .ui-layout-pane,
.design-ui .ui-layout-pane-visible {
  position: relative !important;
  z-index: auto !important;
}
.design-ui .nav-tabs-horizontal-layout .ui-layout-pane-center {
  height: 0 !important;
  width: auto !important;
}
.design-ui .nav-tabs-vertical-layout .ui-layout-pane {
  height: 75% !important;
}
.design-ui .nav-tabs-vertical-layout .ui-layout-pane-west {
  width: 224px !important;
  top: 0px !important;
}
.cms-bootstrap .WPTPanel,
.cms-bootstrap .RTL .LTR .WPTPanel {
  position: relative;
  direction: ltr;
  z-index: 20001;
}
.cms-bootstrap .WPTPanel .AppearElement,
.cms-bootstrap .RTL .LTR .WPTPanel .AppearElement {
  text-align: center !important;
}
.cms-bootstrap .WPTPanel .WPTLayout,
.cms-bootstrap .RTL .LTR .WPTPanel .WPTLayout {
  position: fixed;
  z-index: 9999;
  height: 100%;
  border: none;
  background: #ffffff;
  top: 0;
  right: 0;
}
.cms-bootstrap .WPTPanel h4,
.cms-bootstrap .RTL .LTR .WPTPanel h4 {
  line-height: 18px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.cms-bootstrap .RTL .WPTPanel {
  direction: rtl;
}
.cms-bootstrap .RTL .WPTPanel .WPTLayout {
  right: auto;
  left: 0;
}
.cms-bootstrap .WPTMaximized,
.cms-bootstrap .WPTMenu,
.cms-bootstrap .WPTBackSlider,
.cms-bootstrap .WPTForwardSlider,
.cms-bootstrap .RTL .LTR .WPTMaximized,
.cms-bootstrap .RTL .LTR .WPTMenu,
.cms-bootstrap .RTL .LTR .WPTBackSlider,
.cms-bootstrap .RTL .LTR .WPTForwardSlider {
  width: 240px;
}
.cms-bootstrap .WPTMenu {
  position: absolute;
  z-index: 9996;
  background: #ffffff;
  vertical-align: middle;
  height: 96px;
}
.cms-bootstrap .WPTMenuContent,
.cms-bootstrap .RTL .LTR .WPTMenuContent {
  float: left;
  width: 100%;
  margin-top: 16px;
}
.cms-bootstrap .WPTMenuContent div,
.cms-bootstrap .RTL .LTR .WPTMenuContent div {
  overflow: hidden;
  margin-left: 16px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0;
}
.cms-bootstrap .RTL .WPTMenuContent {
  float: right;
}
.cms-bootstrap .RTL .WPTMenuContent div {
  margin-left: 8px;
  margin-right: 16px;
}
.cms-bootstrap .WPTImgBtn {
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.cms-bootstrap .WPTItemsRow,
.cms-bootstrap .RTL .LTR .WPTItemsRow {
  margin-top: 97px;
  height: 4000px;
}
.cms-bootstrap .WPTCat {
  margin-left: 16px;
  margin-right: 16px;
}
.cms-bootstrap .WPTBackSlider,
.cms-bootstrap .WPTForwardSlider,
.cms-bootstrap .RTL .LTR .WPTBackSlider,
.cms-bootstrap .RTL .LTR .WPTForwardSlider {
  display: none;
  position: absolute;
  z-index: 9996;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  background: #e5e5e5;
}
.cms-bootstrap .WPTBackSlider:hover,
.cms-bootstrap .WPTForwardSlider:hover,
.cms-bootstrap .RTL .LTR .WPTBackSlider:hover,
.cms-bootstrap .RTL .LTR .WPTForwardSlider:hover {
  background: #bdbbbb;
}
.cms-bootstrap .WPTBackSlider i,
.cms-bootstrap .WPTForwardSlider i,
.cms-bootstrap .RTL .LTR .WPTBackSlider i,
.cms-bootstrap .RTL .LTR .WPTForwardSlider i {
  position: absolute;
  margin: auto;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.cms-bootstrap .WPTBackSlider,
.cms-bootstrap .RTL .LTR .WPTBackSlider {
  top: 96px;
}
.cms-bootstrap .WPTForwardSlider,
.cms-bootstrap .RTL .LTR .WPTForwardSlider {
  bottom: 0;
}
.cms-bootstrap .WPTSelectorEnvelope,
.cms-bootstrap .WPTSelectorEnvelopeHover,
.cms-bootstrap .RTL .LTR .WPTSelectorEnvelope,
.cms-bootstrap .RTL .LTR .WPTSelectorEnvelopeHover {
  color: #262524 !important;
  cursor: move;
  clear: both;
}
.cms-bootstrap .WPTSelectorEnvelopeHover,
.cms-bootstrap .RTL .LTR .WPTSelectorEnvelopeHover {
  background-color: #d0e8ed !important;
}
.cms-bootstrap .WPTHandle,
.cms-bootstrap .RTL .LTR .WPTHandle {
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
}
.cms-bootstrap .WPTHandle img,
.cms-bootstrap .RTL .LTR .WPTHandle img {
  float: left;
  width: 24px;
  height: 24px;
  margin: 4px;
  margin-left: 0px;
}
.cms-bootstrap .WPTHandle i,
.cms-bootstrap .RTL .LTR .WPTHandle i {
  color: #403e3d !important;
  float: left;
  font-size: 16px;
  line-height: 32px;
  padding: 0 4px;
}
.cms-bootstrap .WPTHandle div,
.cms-bootstrap .RTL .LTR .WPTHandle div {
  vertical-align: middle;
  margin-left: 32px;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cms-bootstrap .RTL .WPTHandle {
  text-align: right;
}
.cms-bootstrap .RTL .WPTHandle img {
  float: right;
  margin: 4px;
  margin-right: 0px;
}
.cms-bootstrap .RTL .WPTHandle i {
  float: right;
}
.cms-bootstrap .RTL .WPTHandle div {
  margin: 0px;
  margin-left: 32px;
  margin-right: 32px;
}
.cms-bootstrap .WPTMinimize,
.cms-bootstrap .WPTMinimized,
.cms-bootstrap .RTL .LTR .WPTMinimize,
.cms-bootstrap .RTL .LTR .WPTMinimized {
  color: #ffffff;
  background-color: #d6d9d6;
  width: 8px;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 9997;
}
.cms-bootstrap .WPTMinimize div,
.cms-bootstrap .WPTMinimized div,
.cms-bootstrap .RTL .LTR .WPTMinimize div,
.cms-bootstrap .RTL .LTR .WPTMinimized div {
  background-color: #bdbbbb;
  cursor: pointer;
  height: 32px;
  width: 8px;
  position: absolute;
  margin: auto 0px;
  top: 0;
  bottom: 0;
}
.cms-bootstrap .WPTMinimize div:hover,
.cms-bootstrap .WPTMinimized div:hover,
.cms-bootstrap .RTL .LTR .WPTMinimize div:hover,
.cms-bootstrap .RTL .LTR .WPTMinimized div:hover {
  background-color: #a3a2a2;
}
.cms-bootstrap .WPTMinimize div i,
.cms-bootstrap .WPTMinimized div i,
.cms-bootstrap .RTL .LTR .WPTMinimize div i,
.cms-bootstrap .RTL .LTR .WPTMinimized div i {
  font-size: 6px;
  position: absolute;
  margin: auto;
  width: 6px;
  height: 6px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.cms-bootstrap .RTL .WPTMinimize {
  left: auto;
  right: 0;
}
.cms-bootstrap .WPTMinimized,
.cms-bootstrap .RTL .LTR .WPTMinimized {
  position: static;
  left: auto;
  right: 0;
}
.cms-bootstrap .WPTLoader {
  display: none;
}
.cms-bootstrap .WPTLoaderBackground {
  width: 100%;
  background-color: #666666;
  position: absolute;
  opacity: 0.6;
  z-index: 10010;
}
.cms-bootstrap .WPTLoaderBox,
.cms-bootstrap .RTL .LTR .WPTLoaderBox {
  position: absolute;
  left: 8px;
  top: 8px;
  background-color: #e5e5e5;
  padding: 8px 16px;
  z-index: 10011;
}
.cms-bootstrap .WPTLoaderBox img,
.cms-bootstrap .RTL .LTR .WPTLoaderBox img {
  vertical-align: middle;
}
.cms-bootstrap .WPTLoaderBox span,
.cms-bootstrap .RTL .LTR .WPTLoaderBox span {
  margin: 0 16px;
  vertical-align: middle;
  white-space: nowrap;
}
.cms-bootstrap .RTL .WPTLoaderBox {
  left: auto;
  right: 8px;
}
.cms-bootstrap .WPTMenuContent .nav-search-container {
  width: auto;
}
.cms-bootstrap .WPTMenuContent .nav-search-container input {
  border: 2px solid #bdbbbb !important;
  height: 32px !important;
}
.cms-bootstrap .WPTMenuContent .nav-search-container input:focus:focus {
  border-bottom: 2px solid #1175ae;
  background-color: #fff;
  outline: 0;
}
.WPTTable {
  display: table;
  width: 100%;
  height: 100%;
  direction: ltr;
}
.WPTTableRow {
  display: table-row;
}
.WPTTableCell {
  display: table-cell;
}
.WPTTableCellContent {
  width: 100%;
}
.WPTTT,
.RTL .WPTTT.LTR {
  font-family: "Segoe UI", Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  position: absolute;
  z-index: 10011;
  background-color: #e5e0cb;
  width: 300px;
  text-align: left;
  padding: 16px;
}
.WPTTT.RTL,
.RTL .WPTTT.LTR.RTL {
  text-align: right;
}
.WPTTT .WPTTH,
.RTL .WPTTT.LTR .WPTTH {
  font-weight: bold;
}
.cms-bootstrap .PageContent {
  padding: 16px;
}
.cms-bootstrap .cke_dialog .cke_dialog_contents_body {
  padding: 17px 10px 5px;
}
.cms-bootstrap .cke_dialog .cke_dialog_ui_vbox_child {
  padding: 5px 0;
}
.cms-bootstrap .ObjectEditMenuInfo {
  clear: both;
  background-color: #e5e5e5;
  overflow: hidden;
  padding: 8px 16px;
  color: #262524;
  text-align: left;
}
.RTL .cms-bootstrap .ObjectEditMenuInfo {
  text-align: right;
}
.cms-bootstrap #CMSHeaderDiv.LTR * {
  direction: ltr;
  text-align: left;
}
.cms-bootstrap #CMSHeaderDiv.LTR .alert i {
  float: left !important;
  padding: 0 8px 0 0;
}
.cms-bootstrap #CMSHeaderDiv.LTR .LeftAlign {
  float: left !important;
}
.cms-bootstrap #CMSHeaderDiv.LTR .RightAlign {
  float: right !important;
}
.cms-bootstrap #CMSHeaderDiv.RTL * {
  direction: rtl;
  text-align: right;
}
.cms-bootstrap #CMSHeaderDiv.RTL .alert i {
  float: right !important;
  padding: 0 0 0 8px;
}
.cms-bootstrap #CMSHeaderDiv.RTL .LeftAlign {
  float: right !important;
}
.cms-bootstrap #CMSHeaderDiv.RTL .RightAlign {
  float: left !important;
}
.cms-bootstrap #CMSHeaderDiv .btn-default {
  background: #bdbbbb;
  font-family: "Segoe UI Semibold", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 600;
}
.cms-bootstrap #CMSHeaderDiv .btn-default:hover {
  background: #a3a2a2;
}
.DesignMode .webpart-error-label {
  padding-top: 32px;
}
.webpart-error-label {
  color: #b12628;
  display: block;
}
.default_width_check {
  width: 1px;
  height: 1px;
}
body,
html {
  height: 100%;
}
.ClearBoth {
  line-height: 1px;
  font-size: 1px;
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
  height: 0;
}
.FloatLeft,
.RTL .FloatRight {
  float: left;
  text-align: left;
}
.FloatRight,
.RTL .FloatLeft {
  float: right;
  text-align: right;
}
.HiddenButton {
  display: none;
}
.UP {
  position: fixed;
  left: 5px;
  top: 5px;
  background-color: #e5e5e5;
  padding: 5px 15px 5px 5px;
  z-index: 30000;
}
.UP img {
  vertical-align: middle;
  margin-right: 5px;
}
.UP span {
  vertical-align: middle;
}
.Watermark {
  color: #c1c1c1;
  background-color: #fdfdfd;
}
.RTL .UP {
  left: auto;
  right: 5px;
  padding: 5px 5px 5px 15px;
}
.RTL .UP img {
  padding-left: 5px;
}
.cellpadding_0 td,
.cellpadding_0 th {
  padding: 0;
}
.cellspacing_0 {
  border-spacing: 0;
}
.WorkflowInfo,
.RTL .LTR .WorkflowInfo {
  display: block;
  text-align: left;
  direction: ltr;
}
.RTL .WorkflowInfo {
  text-align: right;
  direction: rtl;
}
.PageManagerWorkflowInfo,
.RTL .LTR .PageManagerWorkflowInfo {
  background-color: #e5e5e5;
  overflow: hidden;
  padding: 8px 16px;
  margin: 0;
  color: #000;
  text-align: left;
}
.RTL .PageManagerWorkflowInfo {
  padding: 4px 10px 4px 5px;
  text-align: right;
}
.PageManagerInfo {
  color: #000000;
  background-color: #ffffff;
  display: block;
  padding: 4px 3px 3px 10px;
  border-bottom: solid 1px #a4b2bc;
}
.RTL .PageManagerInfo {
  padding: 4px 10px 3px 3px;
}
.PageManagerError {
  color: #ff0000;
  background-color: #ffffff;
  display: block;
  padding: 3px;
  border-bottom: solid 1px #a4b2bc;
}
.PageManagerPreviewInfo {
  top: 0;
  width: 100%;
  text-align: left;
  color: #000000 !important;
  padding: 4px 5px 4px 10px !important;
  border-bottom: solid 1px #a4b2bc !important;
  background-color: #F5FAFF !important;
}
.RTL .PageManagerPreviewInfo {
  text-align: right !important;
  padding: 4px 10px 4px 5px !important;
}
.PreviewInfo {
  color: #000000;
}
.PreviewInfoLink {
  padding-left: 5px;
  padding-right: 5px;
  color: #0000ff;
  font-weight: bold;
  text-decoration: underline;
}
.SaveIndicator {
  background-color: #89a;
  color: #000000;
  display: block;
  z-index: 20250;
  position: absolute;
  text-align: center;
  width: 110%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.PassiveIndicator {
  z-index: 20249;
}
.AttachmentsList {
  border: none;
  padding: 5px;
}
.ClearBorder .AttachmentsList {
  border: none;
  padding: 0;
}
.CMSEditableRegionEdit {
  border: dashed 1px #888888;
  overflow: hidden;
  margin: 1px;
}
.CMSEditableRegionTitle {
  font-weight: bold;
  display: block;
  padding: 2px 2px 2px 5px;
  background-color: #DDDDDD;
  color: #000000;
}
.RTL .CMSEditableRegionTitle {
  padding: 2px 5px 2px 2px;
}
.CMSEditableRegionTextBox {
  margin: 0;
}
.CMSEditableRegionError {
  color: #ff0000;
  padding: 2px;
}
.EditableTextEdit {
  border: dashed 1px #888888;
  overflow: hidden;
  margin: 1px;
}
.cke_textarea_inline {
  min-height: 100px;
}
.cke_editable:focus {
  outline: none;
}
.EditableTextTitle {
  font-weight: bold;
  display: block;
  padding: 4px 2px 4px 5px;
  background-color: #262524;
  background-position: center;
  color: #fff;
  text-decoration: none !important;
}
.EditableTextError {
  color: #ff0000;
  padding: 2px;
  display: block;
}
.EditableImageEdit {
  border: dashed 1px #888888;
  margin: 1px;
  padding: 1px;
  min-height: 23px;
}
.EditableImageEdit img {
  padding: 0;
  margin: 0;
}
.EditableImageEditBody {
  min-height: 22px;
}
.ImageSelector {
  min-height: 24px;
}
.EditableImageEdit .ImageSelectorHeader,
.EditButtons {
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: #d6d9d6;
}
.EditButtons {
  position: relative;
  float: left;
  margin-right: 5px;
}
.RTL.IE9 .EditableImageEdit .ImageSelectorHeader {
  min-width: 150px;
}
.RTL .EditableTextTitle {
  padding: 2px 5px 2px 2px;
}
.EditableTextTextBox {
  margin: 0;
}
.CMSEditModeButtonClear {
  clear: both;
  line-height: 0;
  height: 0;
}
.WebPartError,
.FormControlError {
  padding: 1px;
  border: solid 1px #ff0000;
  position: relative;
  background-color: #ffffff;
}
.DesignMode .WebPartContent .WebPartError {
  padding-top: 25px;
}
.TransformationError {
  padding: 1px;
  border: solid 1px #ff0000;
  display: block;
}
.WebPartErrorTitle,
.FormControlErrorTitle {
  font-weight: bold;
}
.InlineControlError {
  border: solid 1px #ff0000;
  padding: 1px;
  margin: 1px;
}
.ErrorLabel,
.EditingFormErrorLabel {
  color: #ff0000;
  display: block;
  padding-bottom: 10px;
  text-align: left;
}
.AsyncError {
  color: #ff0000;
}
.FormPanel .EditingFormLabelCell {
  vertical-align: middle;
  max-width: 300px;
}
.EditingFormValueCell .ExplanationText {
  font-style: italic;
}
.RTL .ErrorLabel {
  text-align: right;
}
.EditingFormInfoLabel {
  display: block;
  padding-bottom: 10px;
  text-align: left;
}
.RTL .EditingFormInfoLabel {
  text-align: right;
}
.InfoLabel {
  display: block;
  margin-bottom: 16px;
  background: none;
}
.LabelsMargin .alert {
  margin: 10px;
}
.EditMenuInfo {
  padding: 6px 10px 6px 10px;
  background-image: none;
  box-shadow: none;
}
.BoldInfoLabel {
  color: #000000;
  display: block;
  padding-bottom: 10px;
  font-weight: bold;
}
fieldset .PageContent {
  padding: 0 4px;
}
.PageTitleImage {
  vertical-align: middle;
  padding: 0 5px 5px 0;
  width: 24px;
  height: 24px;
}
.RTL .PageTitleImage {
  padding: 0 0 5px 5px;
}
.ContentNewClasses {
  border: none;
}
.ContentNewClass {
  padding: 5px;
  color: #0000ff;
}
.content-new-link i {
  padding-right: 8px;
}
.ContentNewClass img,
.ContentNewLink img {
  vertical-align: middle;
  padding-right: 8px;
}
.RTL .ContentNewClass img,
.RTL .ContentNewLink img {
  padding-left: 8px;
  padding-right: 0;
}
.MassAction {
  clear: both;
  padding-top: 15px;
}
.MessagingDialog textarea {
  width: 325px;
  height: 130px;
}
.MessagingDialog .SendMessage {
  padding: 20px 12px 15px;
}
.MessagingDialog .SubjectField {
  width: 325px;
}
.MyMessages .SubjectField {
  width: 98%;
}
.SubjectField {
  width: 280px;
}
.MessagingBox .FieldCaption {
  font-weight: bold;
  padding-right: 5px;
}
.MessagingBox .Field {
  width: 100%;
}
.SelectorImageButton {
  cursor: pointer;
  position: relative;
  left: 2px;
  top: 3px;
}
.TextAreaMedium {
  width: 292px;
  height: 200px;
}
.DropDownField {
  width: 294px;
}
.IE9 .DropDownField {
  width: 296px;
}
.DropDownFieldShort {
  width: 50px;
}
.ListBoxField {
  width: 297px;
  height: 100px;
}
.FieldLabel {
  text-align: left;
  white-space: nowrap;
}
.FieldLabelTop {
  vertical-align: top;
  padding-top: 3px;
}
.RTL .FieldLabel {
  text-align: right;
}
.FormPanel .BottomPadding > td {
  padding-bottom: 10px;
}
.FormPanel .TopAlign > td:first-child {
  vertical-align: top;
  padding-top: 4px;
}
.ContentListBoxLow {
  width: 295px;
  height: 150px;
}
.DesignerListBox {
  width: 100%;
  height: 350px;
}
.FormGroupHeader {
  font-weight: bold;
  display: block;
  padding: 0 10px 2px 2px;
}
.RTL .FormGroupHeader {
  padding: 15px 2px 2px 10px;
}
.FormGroupPadding {
  width: 20px;
}
.EditingFormLabel.Wrap,
.FieldLabel .Wrap {
  white-space: normal;
  display: block;
}
.FieldEditor .EditingFormLabel {
  padding-left: 0;
  display: block;
}
.EditingFormCategory {
  font-weight: bold;
  padding-top: 10px;
}
.EditingFormControl {
  border: solid 1px #bbbbbb;
  padding: 3px;
  width: 286px;
}
.EditForm {
  border: solid 1px #cccccc;
  padding: 10px;
  padding-top: 0;
}
.ModalCloseButton {
  border: none;
  padding: 0 0 4px;
  margin: 0;
  cursor: pointer;
}
.field-anchor {
  position: absolute;
  z-index: 100;
  margin-top: -80px;
}
.UIContent .field-anchor {
  margin-top: -24px;
  /* UIContent has top:56px; therefore the margin for FieldAnchor in the UIContent div as to be 56px more. */
}
.field-editor-category-item {
  background-color: #d0e8ed;
}
.field-editor-primary-attribute {
  background-color: #f4eac9;
}
.field-editor-dummy-field {
  color: #0f6194;
}
.field-editor-hidden-item {
  color: #a3a2a2;
}
.PlaceholderLayout .PageTitle {
  color: #fff !important;
  padding: 5px 5px 1px 8px;
  font-weight: bold;
  white-space: nowrap;
}
.PageTitle {
  font-weight: bold;
  color: #ffffff;
}
.SubTitleHeader {
  padding: 6px 5px 3px 10px;
  display: block;
  white-space: nowrap;
}
.RTL .PageTitleHeader,
.RTL .SubTitleHeader {
  padding: 6px 10px 3px 5px;
}
.PageTitleBreadCrumbs {
  padding: 0 5px 0 10px;
  display: block;
  height: 29px;
  overflow: hidden;
  background: #ffffff;
}
.RTL .PageTitleBreadCrumbs {
  padding: 0 10px 0 5px;
}
.SiteHeaderLine {
  background: #fff;
  border-bottom: 3px solid #d6d9d6;
  padding: 16px 0 0 16px;
}
body.Buttons {
  background: #d6d9d6;
}
.CMSVariant {
  display: none;
}
.MenuItemEdit,
.MenuItemEditSmall {
  cursor: pointer;
  color: #000000;
  text-decoration: underline;
}
.MenuItemEdit img,
.MenuItemEditSmall img {
  padding: 5px;
  vertical-align: middle;
  text-decoration: none;
}
.MenuItemEdit img {
  width: 24px;
  height: 24px;
}
.ForumEdit .FieldLabel {
  min-width: 250px;
}
.ForumEdit .ForumEditControl {
  min-width: 320px;
}
.Red {
  color: #CC0000;
}
.Gray {
  color: #888888;
}
