@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800);
/*
    ::SASS Grid
*/
.lg-1 {
  width: 8.333%;
}

.lg-2 {
  width: 16.666%;
}

.lg-3 {
  width: 24.999%;
}

.lg-4 {
  width: 33.332%;
}

.lg-5 {
  width: 41.665%;
}

.lg-6 {
  width: 49.998%;
}

.lg-7 {
  width: 58.331%;
}

.lg-8 {
  width: 66.664%;
}

.lg-9 {
  width: 74.997%;
}

.lg-10 {
  width: 83.33%;
}

.lg-11 {
  width: 91.663%;
}

.lg-12 {
  width: 99.996%;
}

@media screen and (max-width: 1350px) {
  .tb-1 {
    width: 8.333%;
  }
  .tb-2 {
    width: 16.666%;
  }
  .tb-3 {
    width: 24.999%;
  }
  .tb-4 {
    width: 33.332%;
  }
  .tb-5 {
    width: 41.665%;
  }
  .tb-6 {
    width: 49.998%;
  }
  .tb-7 {
    width: 58.331%;
  }
  .tb-8 {
    width: 66.664%;
  }
  .tb-9 {
    width: 74.997%;
  }
  .tb-10 {
    width: 83.33%;
  }
  .tb-11 {
    width: 91.663%;
  }
  .tb-12 {
    width: 99.996%;
  }
}

@media screen and (max-width: 1000px) {
  .md-1 {
    width: 8.333%;
  }
  .md-2 {
    width: 16.666%;
  }
  .md-3 {
    width: 24.999%;
  }
  .md-4 {
    width: 33.332%;
  }
  .md-5 {
    width: 41.665%;
  }
  .md-6 {
    width: 49.998%;
  }
  .md-7 {
    width: 58.331%;
  }
  .md-8 {
    width: 66.664%;
  }
  .md-9 {
    width: 74.997%;
  }
  .md-10 {
    width: 83.33%;
  }
  .md-11 {
    width: 91.663%;
  }
  .md-12 {
    width: 99.996%;
  }
}

@media screen and (max-width: 800px) {
  .sm-1 {
    width: 8.333%;
  }
  .sm-2 {
    width: 16.666%;
  }
  .sm-3 {
    width: 24.999%;
  }
  .sm-4 {
    width: 33.332%;
  }
  .sm-5 {
    width: 41.665%;
  }
  .sm-6 {
    width: 49.998%;
  }
  .sm-7 {
    width: 58.331%;
  }
  .sm-8 {
    width: 66.664%;
  }
  .sm-9 {
    width: 74.997%;
  }
  .sm-10 {
    width: 83.33%;
  }
  .sm-11 {
    width: 91.663%;
  }
  .sm-12 {
    width: 99.996%;
  }
}

.col {
  float: left;
}

.col .col-inner {
  padding: 20px;
  float: none;
}

.col .col-inner.btn-align-bottom {
  margin-top: 20px;
}

.col .col-item {
  float: none;
  padding: 5px 10px 5px 0;
}

.fl {
  float: right;
}

.grid-row:after {
  content: "";
  display: block;
  clear: both;
}

/*
    ================
    ::home redesgin
    ================
*/
.cnb-home-row-fluid {
  padding-bottom: 0;
}

.cnb-button {
  padding: 15px 30px;
  text-shadow: 1px 1px black;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  background-image: linear-gradient(#4582b0, #094e82);
  border: 1px solid #094e82;
  border-radius: 10px;
}

.cnb-button:hover {
  color: #fff;
  background-image: linear-gradient(#2B6FA0, #07558C);
}

.grid-row {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-row h1, .grid-row h3, .grid-row h4 {
  font-weight: normal;
  font-size: 24px;
  line-height: 110%;
  text-shadow: none;
  font-family: 'Open Sans', sans-serif !important;
}

.grid-row p {
  font-size: 16px;
  line-height: 120%;
  font-family: 'Open Sans', sans-serif !important;
}

.cnb-hero {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.cnb-hero .cnb-hero-inner.grid-row {
  max-width: 1200px;
}

.cnb-hero .cnb-hero-info {
  min-height: 485px;
  background: rgba(0, 0, 0, 0.6);
}

.cnb-hero .cnb-hero-info h3 {
  padding-top: 80px;
  color: #fff;
  font-size: 40px;
  margin-bottom: 30px !important;
}

.cnb-hero .cnb-hero-info h3 span, .cnb-hero .cnb-hero-info h3 text {
  font-weight: 700;
}

.cnb-hero .cnb-hero-info p {
  color: #fff;
  margin-bottom: 50px;
}

.cnb-hero .col.fl {
  text-align: right;
}

.cnb-hero iframe {
  border: none;
  outline: none;
  margin-top: 25px;
}

.cnb-home-callouts {
  margin-top: 10px;
}

.cnb-home-callouts #slideshow-module-1 .col-inner, .cnb-home-callouts #slideshow-module-2 .col-inner, .cnb-home-callouts #slideshow-module-3 .col-inner, .cnb-home-callouts #slideshow-module-4 .col-inner {
  padding: 0;
  padding-right: 10px;
}

.cnb-home-callouts #slideshow-module-1 .col-inner a:visited, .cnb-home-callouts #slideshow-module-2 .col-inner a:visited, .cnb-home-callouts #slideshow-module-3 .col-inner a:visited, .cnb-home-callouts #slideshow-module-4 .col-inner a:visited {
  color: #fff;
  text-decoration: none;
}

.cnb-home-callouts #slideshow-module-1 .moduletable, .cnb-home-callouts #slideshow-module-2 .moduletable, .cnb-home-callouts #slideshow-module-3 .moduletable, .cnb-home-callouts #slideshow-module-4 .moduletable {
  padding: 40px 20px 20px 20px;
  -webkit-transition: box-shadow 350ms;
  -ms-transition: box-shadow 350ms;
  -moz-transition: box-shadow 350ms;
  transition: box-shadow 350ms;
  min-height: 200px;
}

.cnb-home-callouts #slideshow-module-1 .moduletable h3, .cnb-home-callouts #slideshow-module-2 .moduletable h3, .cnb-home-callouts #slideshow-module-3 .moduletable h3, .cnb-home-callouts #slideshow-module-4 .moduletable h3 {
  font-size: 22px;
  background-image: none;
  padding-left: 0;
  color: #fff;
  margin-bottom: 30px !important;
}

.cnb-home-callouts #slideshow-module-1 .moduletable h3 span, .cnb-home-callouts #slideshow-module-2 .moduletable h3 span, .cnb-home-callouts #slideshow-module-3 .moduletable h3 span, .cnb-home-callouts #slideshow-module-4 .moduletable h3 span {
  font-weight: 700;
}

.cnb-home-callouts #slideshow-module-1 .moduletable p, .cnb-home-callouts #slideshow-module-2 .moduletable p, .cnb-home-callouts #slideshow-module-3 .moduletable p, .cnb-home-callouts #slideshow-module-4 .moduletable p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 400;
}

.cnb-home-callouts #slideshow-module-1 .moduletable h4, .cnb-home-callouts #slideshow-module-2 .moduletable h4, .cnb-home-callouts #slideshow-module-3 .moduletable h4, .cnb-home-callouts #slideshow-module-4 .moduletable h4 {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.cnb-home-callouts #slideshow-module-1 .moduletable:hover, .cnb-home-callouts #slideshow-module-2 .moduletable:hover, .cnb-home-callouts #slideshow-module-3 .moduletable:hover, .cnb-home-callouts #slideshow-module-4 .moduletable:hover {
  -webkit-box-shadow: 7px 7px 5px -3px rgba(0, 0, 0, 0.27);
  -ms-box-shadow: 7px 7px 5px -3px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 7px 7px 5px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 7px 7px 5px -3px rgba(0, 0, 0, 0.27);
}

.cnb-home-callouts #slideshow-module-1 .moduletable {
  background: #01487d;
  border-top: 5px solid #4d7fa4;
}

.cnb-home-callouts #slideshow-module-2 .moduletable {
  background: #1a5a8a;
  border-top: 5px solid #4a88b5;
}

.cnb-home-callouts #slideshow-module-3 .moduletable {
  background: #346d97;
  border-top: 5px solid #1a5a8a;
}

.cnb-home-callouts #slideshow-module-4 .moduletable {
  background: #4d7fa4;
  border-top: 5px solid #346d97;
}

.cnb-home-callouts #slideshow-module-4 .col-inner {
  padding-right: 0;
}

.cnb-home-content {
  margin-top: 60px;
}

@media screen and (min-width: 1080px) {
  .cnb-home-toplevel .col .col-inner {
    padding: 0;
  }
}

.cnb-home-toplevel h1.cnb-header {
  font-weight: 700;
  color: black;
  margin-bottom: 15px !important;
}

@media screen and (min-width: 1080px) {
  .cnb-home-toplevel .col .cnb-home-news {
    padding-right: 60px;
  }
}

.cnb-home-toplevel .col .cnb-home-news .blog {
  padding: 0;
  padding-left: 0 !important;
  margin-bottom: 25px;
}

.cnb-home-toplevel .col .cnb-home-news h2, .cnb-home-toplevel .col .cnb-home-news h2 a {
  font-size: 16px;
  color: black;
  font-weight: 600;
  margin-top: 20px !important;
  margin-bottom: 5px !important;
  font-family: 'Open Sans', sans-serif !important;
}

.cnb-home-toplevel .col .cnb-home-news h3 {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 11px;
  color: #858585;
  margin-bottom: 10px !important;
}

.cnb-home-toplevel .col .cnb-home-news p {
  margin-bottom: 10px;
  color: #555555;
  font-size: 14px;
  font-weight: 500;
}

.cnb-home-toplevel .col .cnb-home-news a {
  font-size: 14px;
}

.cnb-home-toplevel .col .cnb-home-news a:hover {
  text-decoration: underline;
}

.cnb-home-toplevel .col .cnb-home-quicklinks {
  border-left: 1px solid #bbbbbb;
}

@media screen and (min-width: 1080px) {
  .cnb-home-toplevel .col .cnb-home-quicklinks {
    padding-left: 65px;
  }
}

.cnb-home-toplevel .col .cnb-home-quicklinks h1.cnb-header {
  margin-bottom: 30px !important;
}

.cnb-home-toplevel .col .cnb-home-quicklinks ul.cnb-links {
  padding-left: 0;
  margin-left: 0;
}

.cnb-home-toplevel .col .cnb-home-quicklinks ul.cnb-links li:before {
  display: none;
}

.cnb-home-toplevel .col .cnb-home-quicklinks ul.cnb-links li a {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
}

.cnb-home-toplevel .cnb-home-signup {
  border: 1px solid #7a9fbb;
  padding: 30px 25px;
  margin-bottom: 30px;
}

.cnb-home-toplevel .cnb-home-signup h1.cnb-home-signup-headline {
  padding-top: 10px;
}

.cnb-home-toplevel .cnb-home-signup h1, .cnb-home-toplevel .cnb-home-signup div {
  display: inline-block;
  vertical-align: top;
}

.cnb-home-toplevel .cnb-home-signup h1 {
  font-size: 18px;
  font-weight: 800;
  color: black;
  margin-right: 10px !important;
}

.cnb-home-toplevel .cnb-home-signup h1 span {
  font-weight: 600;
}

.cnb-home-toplevel .cnb-home-signup a.cnb-button {
  padding: 10px 10px;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .home-callouts-row {
    padding: 0 10px;
  }
}

@media screen and (min-width: 1000px) {
  .home-callouts-row .col .col-inner {
    padding: 0;
    padding-right: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .home-callouts-row .col:last-of-type .col-inner {
    padding-right: 0;
  }
}

.home-callouts-row li::before {
  display: none;
}

.home-callouts-row li:nth-child(2) a {
  background: #8daa4a;
}

.home-callouts-row li:nth-child(3) a {
  background: #9ab45e;
}

.home-callouts-row li:nth-child(4) a {
  background: #a0bb60;
}

.home-callouts-row li a {
  -webkit-transition: box-shadow 350ms;
  -ms-transition: box-shadow 350ms;
  -moz-transition: box-shadow 350ms;
  transition: box-shadow 350ms;
}

.home-callouts-row li a:hover {
  -webkit-box-shadow: 7px 7px 5px -3px rgba(0, 0, 0, 0.27);
  -ms-box-shadow: 7px 7px 5px -3px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 7px 7px 5px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 7px 7px 5px -3px rgba(0, 0, 0, 0.27);
}

.cnb-home-community {
  display: block;
  position: relative;
  background: #81a136;
  color: #fff;
  padding: 20px;
  min-height: 225px;
  overflow: hidden;
}

.cnb-home-community:hover {
  color: #fff;
  text-decoration: none;
}

.cnb-home-community:visited {
  color: #fff;
}

.cnb-home-community.cnb-lg {
  background: #8daa4a;
}

.cnb-home-community.cnb-llg {
  background: #9ab45e;
}

.cnb-home-community h2, .cnb-home-community p {
  position: relative;
  z-index: 2;
}

.cnb-home-community h2 {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 28px;
  font-weight: 400;
  line-height: 110%;
  text-shadow: none;
  line-height: 100%;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.cnb-home-community h2 span {
  font-weight: 700;
  display: block;
}

.cnb-home-community:before {
  content: url("../images/icons/home-link-arrow.png");
  position: absolute;
  top: calc(50% - 65px);
  left: -30px;
  z-index: 1;
}

.bottom-level-row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom-level-row h3 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 700;
  color: black;
  margin-bottom: 20px !important;
  font-size: 28px;
}

.bottom-level-row ul {
  padding-left: 0;
  margin-left: 0;
}

.bottom-level-row ul li {
  padding: 5px 0;
  margin-left: 0 !important;
}

.bottom-level-row ul li:before {
  display: none;
}

.bottom-level-row ul li a {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
}

@media screen and (min-width: 1080px) {
  .bottom-level-row .col .col-inner {
    padding: 0;
  }
}

@media screen and (min-width: 1080px) {
  .bottom-level-row .col .col-inner.cnb-important-notices {
    padding-right: 60px;
  }
}

.bottom-level-row .col .col-inner.cnb-important-notices h3::after {
  content: url("../images/icons/notice.png");
  margin-left: 10px;
}

.bottom-level-row .col .col-inner.cnb-security-tips {
  border-left: 1px solid #bbbbbb;
}

@media screen and (min-width: 1080px) {
  .bottom-level-row .col .col-inner.cnb-security-tips {
    padding-left: 65px;
  }
}

.bottom-level-row .col .col-inner.cnb-security-tips h3::after {
  content: url("../images/icons/padlock.png");
  margin-left: 10px;
}

.cnb-grey-block {
  background: #f1f1f1;
  padding: 10px 0;
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .cnb-home-callouts #slideshow-module-1 .col-inner, .cnb-home-callouts #slideshow-module-2 .col-inner, .cnb-home-callouts #slideshow-module-3 .col-inner, .cnb-home-callouts #slideshow-module-4 .col-inner {
    padding: 7px;
    padding-right: 7px;
  }
  .cnb-home-callouts #slideshow-module-1 p, .cnb-home-callouts #slideshow-module-1 h4, .cnb-home-callouts #slideshow-module-2 p, .cnb-home-callouts #slideshow-module-2 h4, .cnb-home-callouts #slideshow-module-3 p, .cnb-home-callouts #slideshow-module-3 h4, .cnb-home-callouts #slideshow-module-4 p, .cnb-home-callouts #slideshow-module-4 h4 {
    display: none;
  }
  .cnb-home-callouts #slideshow-module-1 .moduletable, .cnb-home-callouts #slideshow-module-2 .moduletable, .cnb-home-callouts #slideshow-module-3 .moduletable, .cnb-home-callouts #slideshow-module-4 .moduletable {
    min-height: 0;
  }
}

@media screen and (max-width: 800px) {
  .cnb-hero-info {
    display: none;
  }
  .col.fl.cnb-hero-netexp {
    width: 100%;
    float: none !important;
  }
  .col.fl.cnb-hero-netexp iframe {
    width: 100%;
    margin-top: 5px;
  }
}

@media screen and (max-width: 800px) {
  .cnb-home-toplevel {
    margin-top: 20px;
  }
  .cnb-home-toplevel .col .cnb-home-quicklinks {
    border-left: none;
  }
  .cnb-home-toplevel .col .cnb-home-quicklinks:before {
    content: "";
    display: block;
    border-top: 1px solid #bbb;
    margin-bottom: 50px;
  }
  .cnb-home-toplevel .cnb-home-signup h1 {
    display: block;
  }
  .cnb-home-toplevel .cnb-home-signup a.cnb-button {
    margin-top: 20px;
  }
  .home-callouts-row {
    margin-top: 0px;
  }
  .home-callouts-row .col .col-inner {
    padding-bottom: 0px;
  }
  .bottom-level-row .col .col-inner.cnb-security-tips {
    border-left: none;
  }
  .bottom-level-row .col .col-inner.cnb-security-tips:before {
    content: "";
    display: block;
    border-top: 1px solid #bbb;
    margin-bottom: 40px;
  }
}

.cnb-mobile-apps {
  text-align: center;
  margin-right: 30px;
}

.cnb-mobile-apps li {
  display: inline-block;
  margin: 0 15px 10px 15px;
}

.cnb-mobile-apps li:first-child {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.cnb-mobile-apps li:before {
  display: none;
}

.cnb-mobile-apps li img {
  max-width: 150px;
}

body.cnb-netX-body {
  background: rgba(129, 161, 54, 0.9) !important;
  font-family: 'Open Sans', arial, sans-serif;
  text-align: center;
  color: #fff;
}

body.cnb-netX-body ::-webkit-input-placeholder {
  color: black;
}

body.cnb-netX-body :-moz-placeholder {
  color: black;
}

body.cnb-netX-body ::-moz-placeholder {
  color: black;
}

body.cnb-netX-body :-ms-input-placeholder {
  color: black;
}

body.cnb-netX-body h3 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 5px;
  margin-top: 10px;
}

body.cnb-netX-body h4 {
  font-weight: 500;
  margin-top: 0;
}

body.cnb-netX-body p {
  font-size: 14px;
  margin-top: 25px;
}

body.cnb-netX-body p a {
  color: #fff;
  text-decoration: underline;
}

body.cnb-netX-body p a:visited {
  color: #fff;
}

body.cnb-netX-body form {
  padding-top: 20px;
  border-top: 2px solid #63881b;
}

body.cnb-netX-body .cnb-netX-login {
  padding: 15px;
}

body.cnb-netX-body input[type="text"] {
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 40px 10px 10px;
  border-radius: 5px;
  border: none;
  width: calc(100% - 50px);
}

body.cnb-netX-body input[type="text"]:focus {
  outline: none;
}

body.cnb-netX-body input[type="submit"] {
  background: transparent;
  border: none;
  border-left: 1px solid #454545;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 39px;
  cursor: pointer;
  -webkit-transition: background 350ms;
  -ms-transition: background 350ms;
  -moz-transition: background 350ms;
  transition: background 350ms;
}

body.cnb-netX-body .cnb-netX-inputs {
  position: relative;
}

body.cnb-netX-body .cnb-netX-inputs:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #454545;
  position: absolute;
  top: calc(50% - 5px);
  right: 17px;
}

.cnb-alert {
  padding: 7px 0 5px 0;
  background: #fa6900;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.cnb-alert b {
  font-weight: 700;
}

.cnb-alert a {
  color: #fff;
  text-decoration: underline;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.cnb-alert a:hover {
  color: #fff;
}

.cnb-alert .cnb-alert-inner {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1230px) {
  .cnb-alert .cnb-alert-inner {
    padding: 0 15px;
  }
}

.cnb-alert .cnb-alert-inner:before {
  content: url("../images/icons/alert-icon.png");
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.cnb-alert .close-alert {
  float: right;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 1px;
  -webkit-transition: background 350ms;
  -ms-transition: background 350ms;
  -moz-transition: background 350ms;
  transition: background 350ms;
}

.cnb-alert .close-alert:before {
  content: "x";
  font-weight: 600;
  font-size: 24px;
}

.cnb-alert .close-alert:hover {
  background: #da5e03;
}

#topmenu {
  -webkit-transition: margin 350ms;
  -ms-transition: margin 350ms;
  -moz-transition: margin 350ms;
  transition: margin 350ms;
}

#topmenu.has-alert {
  margin-top: 40px;
}
