﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AboveFooterContent.ascx.cs" Inherits="App_UserControls_AboveFooterContent" %>
<cms:CMSPagePlaceholder runat="server" ClientIDMode="Static" >
    <LayoutTemplate>
        <cms:CMSWebPartZone runat="server" ID="AboveFooter"/>
    </LayoutTemplate>
</cms:CMSPagePlaceholder>