﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PrintButton.ascx.cs" Inherits="CMSWebParts_App_Print_PrintButton" %>

<a href="/print" onclick="return PrintCtrl.openPrintWindow(this.href, '.item-page');"><i class="fa fa-print"></i> Print</a>