﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="KenticoDraftIntegrationProjectSelector.ascx.cs" Inherits="CMSModules_KenticoDraftIntegration_ProjectSelector" %>

<asp:Label runat="server" ID="lblError" />

<cms:CMSDropDownList runat="server" ID="ddlProjects" />