﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="KenticoDraftIntegrationPageTypeSelector.ascx.cs" Inherits="KenticoDraftIntegration.CMSModules.KenticoDraftIntegration.KenticoDraftIntegrationPageTypeSelector" %>

<asp:Label runat="server" ID="lblError"></asp:Label>
<cms:CMSDropDownList runat="server" ID="ddlTypes" />