﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="KenticoDraftIntegrationWorkflowSelector.ascx.cs" Inherits="KenticoDraftIntegration.CMSModules.KenticoDraftIntegration.KenticoDraftIntegrationWorkflowSelector" %>

<asp:Label runat="server" ID="lblError"></asp:Label>
<cms:CMSDropDownList runat="server" ID="ddlWorkflows" />