﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="KenticoDraftIntegrationTypeSelector.ascx.cs" Inherits="KenticoDraftIntegration.CMSModules.KenticoDraftIntegration.KenticoDraftIntegrationTypeSelector" %>

<asp:Label runat="server" ID="lblError"></asp:Label>
<cms:CMSDropDownList runat="server" ID="ddlTypes" />